/* CSS Document */
#divSolicitudRemesa{
	display:none;
	font-size:9px;
}

#importSolcitud{
padding:2px;
cursor: pointer;
}

#iframeSolicitudRemesa{
	width:100%;
	height:98%;
	border:0px;
}


#frameProductos{
	width:100%;
	height:175px;
	border:0px;
	background-color:#FFFFFF;

}

#rangoImp{
 display:none;
 font-size:12px;
}


#tableRemesas{
margin:5px 5px 5px 5px;
}

#tableRemesas thead th{
border-bottom:1px solid;
border-top:1px solid;
border-left:1px solid;
border-right:1px solid;
border-color:#87B6D9;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
color: #1D74C1;
background-color:#DAEAF6;
padding:5px;
}

#tableRemesas tbody td{
border-bottom:1px solid;
border-top:1px solid;
border-left:1px solid;
border-right:1px solid;
border-color:#87B6D9;
font-size:11px;
font-weight:bold;
}

#tableRemesas tbody tr{
text-align:center;
background-color:#FFFFFF;
}

#tableRemesas tbody td input[type=text]{
border:none;
}

#tableRemesas tbody td img{
vertical-align:middle;
cursor: pointer;
}

.focusSaveRow{
background:#0033FF;
}

#clon{
display:none;
}

#divProductos{
  padding:5px;
  overflow:auto;  
  max-height:220px;
  background-color:#FFFFFF;
  border:1px solid;
}

.focusGrid{
  border:1px solid;
  background-color:#0000FF;
}