table{
margin:5px 5px 5px 5px;
}

thead th{
border-bottom:1px solid;
border-top:1px solid;
border-left:1px solid;
border-right:1px solid;
border-color:#87B6D9;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight:bolder;
color: #1D74C1;
background-color:#DAEAF6;
}

tbody td{
border-bottom:1px solid;
border-top:1px solid;
border-left:1px solid;
border-right:1px solid;
border-color:#87B6D9;
}

tbody tr{
text-align:center;
}

input{
border:0px;
}

img{
vertical-align:middle;
cursor: pointer;
}

.focusSaveRow{
background:#0033FF;
}

#clon{
display:none;
}

.showDragHandle {
cursor: move;

}
#tablagrid{
overflow: auto; height:320px;
overflow: auto; width:1270px;
}

.tableFixHead{ 
overflow-y: auto; height: 100px; 
}

.tableFixHead tr th{
position: sticky; top: 0; 
}

.tableFixHead tr th:hover{
position: sticky; top: 0;
color: rgba(1, 1, 1, 1) !important;
box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
transition: all 0.2s ease;
}


a:hover{
color: rgba(255, 255, 255, 1) !important;
box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
transition: all 0.2s ease;
}