/* TABLE
 * ========================================================================= */
#tree{
  border: 1px solid #888;
  border-collapse: collapse;
  line-height: 1;
  margin: 1em auto;
  width: 100%;
  background:#FFFFFF;
}
#imp_tree{
	margin:0px 0px 0px 0px;
	width:100%;
	padding:0px 0px 0px 0px;
}
#print{
	cursor:pointer;
}
/* Caption
 * ------------------------------------------------------------------------- */
#tree caption {
  font-size: .9em;
  font-weight: bold;
}
/* Header
 * ------------------------------------------------------------------------- */
#tree thead {
  background: #aaa url(../../../framework/media/images/treeTable/bg-table-thead.png) repeat-x top left;
  font-size: .9em;
}
#tree thead tr th {
  border: 1px solid #888;
  font-weight: normal;
  padding: .3em 1.67em .1em 1.67em;
  text-align: left;
}
#tree thead th {
 font-size:10px;
 font-weight:bold;
}
/* Body
 * ------------------------------------------------------------------------- */
#tree tbody tr td {
  cursor: default;
  padding: .3em 1.5em;
}
#tree tbody td {
font-size:12px;
text-transform:uppercase;
}
#tree tbody tr.even {
  background: #f3f3f3;
}
#tree tbody tr.odd {
  background: #fff;
}
#tree span {
  background-position: center left;
  background-repeat: no-repeat;
  padding: .2em 0 .2em 1.5em;
}
#tree span.file {
  /*background-image: url(../../../framework/media/images/treeTable/page_white_text.png);*/
}
#tree span.folder {
/*  background-image: url(../../../framework/media/images/treeTable/folder.png);*/
}
#tree tbody tr:Hover{
	background-color: #C1FFD1;
}
#PlanCuentasTree{
	overflow:auto;
}
.cuenta_mayor{
	font-weight:bold;
	text-transform:uppercase;
}
.cuenta_superior{
	text-transform:uppercase;
}
.cuenta_movimiento{
 text-transform:lowercase;
}
.movimiento{
	font-weight:bold;
	font-size:12px;
	margin-right:5px;
}
.movimiento_text{
	margin-right:7px;
}